Q-4. Imagine you working as a sale manager now you need to predict the Revenue
and whether that particular revenue is on the weekend or not and find the
Informational_Duration using the Ensemble learning algorithm
Dataset This is the Dataset You can use this dataset for this question.

In [15]:
import pandas as pd

In [18]:
df=pd.read_csv("online_shoppers_intention.csv")

In [20]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [21]:
df.tail()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [22]:
df.shape

(12330, 18)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [25]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [26]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [29]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [30]:
df.duplicated().sum()

125

In [34]:
df=df.drop_duplicates()

In [35]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [36]:
df.shape

(12205, 18)

In [38]:
df.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend', 'Revenue'],
      dtype='object')

In [40]:
df['Administrative'].unique()

array([ 0,  1,  2,  4, 12,  3, 10,  6,  5,  9,  8, 16, 13, 11,  7, 18, 14,
       17, 19, 15, 24, 22, 21, 20, 23, 27, 26], dtype=int64)

In [41]:
df['Administrative_Duration'].unique()

array([  0.       ,  53.       ,  64.6      , ..., 167.9107143,
       305.125    , 150.3571429])

In [45]:
df['ProductRelated_Duration'].unique()

array([  0.        ,  64.        ,   2.66666667, ..., 465.75      ,
       184.25      , 346.        ])

In [43]:
df['Informational_Duration'].unique()

array([  0.  , 120.  ,  16.  , ..., 547.75, 368.25, 211.25])

In [44]:
df['ProductRelated'].unique()

array([  1,   2,  10,  19,   0,   3,  16,   7,   6,  23,  13,  20,   8,
         5,  32,   4,  45,  14,  52,   9,  46,  15,  22,  11,  12,  36,
        42,  27,  90,  18,  38,  17, 128,  25,  30,  21,  51,  26,  28,
        31,  24,  50,  96,  49,  68,  98,  67,  55,  35,  37,  29,  34,
        71,  63,  87,  40,  33,  54,  64,  75,  39, 111,  81,  61,  47,
        44,  88, 149,  41,  79,  66,  43, 258,  80,  62,  83, 173,  48,
        58,  57,  56,  69,  82,  59, 109, 287,  53,  84,  78, 137, 113,
        89,  65,  60, 104, 129,  77,  74,  93,  76,  72, 194, 140, 110,
       132, 115,  73, 328, 160,  86, 150,  95, 130, 151, 117, 124, 127,
       125, 116, 105,  92, 157, 154, 220, 187, 112, 131, 159,  94, 204,
       142, 206, 102, 313, 145,  85,  97, 198, 181, 126, 106, 101, 108,
       119,  70, 122,  91, 276, 100, 291, 114, 172, 217, 141, 133, 156,
       136, 180, 135, 195,  99, 362, 179, 118, 175, 148, 440, 103, 178,
       184, 705, 134, 176, 146, 189, 120, 193, 222, 121, 107, 305, 199,
       439, 223, 230, 280, 377, 310, 158, 486, 153, 139, 182, 221, 229,
       216, 170, 202, 346, 274, 240, 162, 123, 211, 227, 168, 161, 429,
       686, 167, 518, 256, 255, 358, 213, 191, 282, 155, 138, 246, 237,
       271, 171, 414, 219, 262, 409, 243, 241, 197, 449, 143, 188, 391,
       238, 152, 165, 293, 174, 584, 164, 311, 340, 250, 200, 385, 292,
       232, 251, 517, 225, 169, 309, 235, 501, 224, 275, 318, 144, 397,
       343, 245, 186, 337, 351, 166, 349, 423, 359, 163, 147, 264, 312,
       226, 324, 266, 260, 338, 272, 534, 470, 207, 218, 326, 190, 304,
       205, 233, 401, 177, 330, 286, 247, 357, 315, 231, 339, 283, 374,
       248, 279, 281, 234, 261, 290, 336, 378, 254, 183, 210, 192],
      dtype=int64)

In [46]:
df['BounceRates'].unique()

array([0.2       , 0.        , 0.05      , ..., 0.00382775, 0.00086956,
       0.01114899])

In [47]:
df['ExitRates'].unique()

array([0.2       , 0.1       , 0.14      , ..., 0.01276133, 0.01395349,
       0.02903061])

In [48]:
df['PageValues'].unique()

array([ 0.        , 54.17976426, 19.44707913, ..., 78.81172527,
        3.68540082, 12.24171745])

In [49]:
df['SpecialDay'].unique()

array([0. , 0.4, 0.8, 1. , 0.2, 0.6])

In [50]:
df['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [51]:
df['OperatingSystems'].unique()

array([1, 2, 4, 3, 7, 6, 8, 5], dtype=int64)

In [52]:
df['Browser'].unique()

array([ 1,  2,  3,  4,  5,  6,  7, 10,  8,  9, 12, 13, 11], dtype=int64)

In [53]:
df['Region'].unique()

array([1, 9, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [54]:
df['TrafficType'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 18, 19,
       16, 17, 20], dtype=int64)

In [55]:
df['VisitorType'].unique()

array(['Returning_Visitor', 'New_Visitor', 'Other'], dtype=object)

In [56]:
df['Weekend'].unique()

array([False,  True])

In [57]:
df['Revenue'].unique()

array([False,  True])

In [73]:
from sklearn.preprocessing import LabelEncoder

In [74]:
encoder=LabelEncoder()

In [82]:
df['Month']=encoder.fit_transform(df['Month'])

C:\Users\Vision\AppData\Local\Temp\ipykernel_12048\3670365119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month']=encoder.fit_transform(df['Month'])

In [88]:
df['VisitorType']=encoder.fit_transform(df['VisitorType'])

C:\Users\Vision\AppData\Local\Temp\ipykernel_12048\1358938087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VisitorType']=encoder.fit_transform(df['VisitorType'])

In [89]:
df['Weekend']=encoder.fit_transform(df['Weekend'])

C:\Users\Vision\AppData\Local\Temp\ipykernel_12048\3158766193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weekend']=encoder.fit_transform(df['Weekend'])

In [90]:
df['Revenue']=encoder.fit_transform(df['Revenue'])

C:\Users\Vision\AppData\Local\Temp\ipykernel_12048\306358416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue']=encoder.fit_transform(df['Revenue'])

In [91]:
X=df.drop(labels=['Revenue'],axis=1)
y=df.Revenue

In [92]:
X

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,VisitorType
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,2,2,2
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,2,2,2
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,2,2,2
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,2,2,2
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,1,4,6,1,1,2,1,2
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,7,3,2,1,8,2,7,2
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,7,3,2,1,13,2,7,2
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,7,2,2,3,11,2,7,2
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,7,3,2,1,2,0,7,0

In [81]:
y

0        2
1        2
2        2
3        2
4        2
        ..
12325    1
12326    7
12327    7
12328    7
12329    7
Name: Revenue, Length: 12205, dtype: int64

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [95]:
X_train

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,VisitorType
5304,0,0.000000,0,0.00,6,132.000000,0.000000,0.033333,0.000000,0.0,6,4,1,3,5,0,6,0
9686,0,0.000000,0,0.00,87,1197.700198,0.000000,0.002353,38.000639,0.0,7,2,2,1,2,0,7,0
11085,7,194.083333,1,71.25,15,446.250000,0.000000,0.015686,0.000000,0.0,1,2,2,1,2,2,1,2
7515,7,236.400000,0,0.00,14,341.700000,0.059649,0.084211,0.000000,0.0,4,3,2,4,3,2,4,2
6717,0,0.000000,0,0.00,7,1721.666667,0.038095,0.038571,0.000000,0.0,7,1,1,3,3,2,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,0,0.000000,0,0.00,6,60.250000,0.033333,0.066667,0.000000,0.0,7,2,2,7,3,2,7,2
5272,6,79.500000,1,19.00,11,314.250000,0.000000,0.003333,0.000000,0.0,6,2,2,1,2,0,6,0
5475,2,79.600000,3,332.08,34,1011.016667,0.018919,0.043243,5.128358,0.0,8,2,2,7,1,2,8,2
874,3,64.500000,0,0.00,35,1334.551371,0.000000,0.007310,0.000000,0.0,5,3,2,4,2,2,5,2
7357,1,54.400000,6,505.60,21,838.150000,0.000000,0.000000,0.000000,0.0,7,2,2,3,2,0,7,0

In [96]:
y_train

5304     6
9686     7
11085    1
7515     4
6717     7
        ..
12086    7
5272     6
5475     8
874      5
7357     7
Name: Revenue, Length: 9764, dtype: int64

In [97]:
X_test

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,VisitorType
6045,0,0.0,0,0.000000,19,1138.793636,0.000000,0.007018,0.000000,0.0,0,2,4,3,2,2,0,2
7750,3,273.0,0,0.000000,11,385.740000,0.000000,0.007692,17.816499,0.0,8,2,2,1,2,2,8,2
203,0,0.0,0,0.000000,3,133.500000,0.000000,0.088889,0.000000,0.0,5,1,2,1,8,2,5,2
10452,0,0.0,0,0.000000,27,630.750000,0.016000,0.020000,0.000000,0.0,7,2,2,3,1,2,7,2
1177,2,52.0,1,17.666667,18,1262.000000,0.000000,0.009524,0.000000,0.0,5,2,2,1,2,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,0,0.0,0,0.000000,19,1440.166667,0.026316,0.040351,0.000000,0.0,7,1,1,1,1,2,7,2
2679,0,0.0,0,0.000000,23,178.600000,0.086957,0.092754,0.000000,0.6,6,3,2,2,3,2,6,2
11378,0,0.0,0,0.000000,1,0.000000,0.200000,0.200000,0.000000,0.0,1,2,2,2,2,1,1,1
7733,0,0.0,0,0.000000,1,0.000000,0.200000,0.200000,0.000000,0.0,9,1,1,2,2,2,9,2
8431,0,0.0,0,0.000000,54,1975.455952,0.003704,0.016049,0.000000,0.0,7,2,2,9,2,2,7,2

In [98]:
y_test

6045     0
7750     8
203      5
10452    7
1177     5
        ..
8420     7
2679     6
11378    1
7733     9
8431     7
Name: Revenue, Length: 2441, dtype: int64

In [99]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [100]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                        int64
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int32
Weekend                      int64
Revenue                      int64
VisitorType                  int32
dtype: object

In [105]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [106]:
models={
    
    "random_forest":RandomForestClassifier(oob_score=True),
    "logistic_regression":LogisticRegression(),
    "decision_tree":DecisionTreeClassifier()
}

In [107]:
from sklearn.metrics import accuracy_score
def evaluate_model(X_train,y_trian,X_test,y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(X_train,y_train)
        print(model.score(X_train,y_train))
        #print("OOB score:", model.oob_score_)
        
        y_pred=model.predict(X_test)
        
        accuracy=round(accuracy_score(y_test,y_pred)*100,2)
        
        report[list(models.keys())[i]]=accuracy
    
    return report

In [108]:
evaluate_model(X_train,y_train,X_test,y_test,models)

1.0
0.29905776321179844
1.0

c:\users\vision\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

{'random_forest': 100.0, 'logistic_regression': 29.99, 'decision_tree': 100.0}

In [109]:
params={
    
    "n_estimators":[50,100,200],
    "criterion":["gini","entropy"],
    "max_depth":[3,5,10]
    
}

In [110]:
model=RandomForestClassifier(oob_score=True)

In [111]:
from sklearn.model_selection import RandomizedSearchCV

In [112]:
cv=RandomizedSearchCV(model,param_distributions=params,scoring='accuracy',cv=5,verbose=3)

In [113]:
cv.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 1/5] END criterion=entropy, max_depth=5, n_estimators=200;, score=0.900 total time=   3.6s
[CV 2/5] END criterion=entropy, max_depth=5, n_estimators=200;, score=0.882 total time=   3.4s
[CV 3/5] END criterion=entropy, max_depth=5, n_estimators=200;, score=0.907 total time=   3.7s
[CV 4/5] END criterion=entropy, max_depth=5, n_estimators=200;, score=0.874 total time=   3.7s
[CV 5/5] END criterion=entropy, max_depth=5, n_estimators=200;, score=0.897 total time=   3.4s
[CV 1/5] END criterion=entropy, max_depth=10, n_estimators=200;, score=0.999 total time=   4.6s
[CV 2/5] END criterion=entropy, max_depth=10, n_estimators=200;, score=1.000 total time=   4.6s
[CV 3/5] END criterion=entropy, max_depth=10, n_estimators=200;, score=1.000 total time=   4.6s
[CV 4/5] END criterion=entropy, max_depth=10, n_estimators=200;, score=1.000 total time=   4.6s
[CV 5/5] END criterion=entropy, max_depth=10, n_estimators=200;, score=1.000 total time=   4.5s
[CV 1/5] END criterion=entropy, max_depth=3, n_estimators=50;, score=0.809 total time=   0.6s
[CV 2/5] END criterion=entropy, max_depth=3, n_estimators=50;, score=0.816 total time=   0.6s
[CV 3/5] END criterion=entropy, max_depth=3, n_estimators=50;, score=0.811 total time=   0.8s
[CV 4/5] END criterion=entropy, max_depth=3, n_estimators=50;, score=0.810 total time=   0.6s
[CV 5/5] END criterion=entropy, max_depth=3, n_estimators=50;, score=0.809 total time=   0.6s
[CV 1/5] END criterion=entropy, max_depth=5, n_estimators=100;, score=0.882 total time=   1.8s
[CV 2/5] END criterion=entropy, max_depth=5, n_estimators=100;, score=0.890 total time=   1.6s
[CV 3/5] END criterion=entropy, max_depth=5, n_estimators=100;, score=0.896 total time=   1.7s
[CV 4/5] END criterion=entropy, max_depth=5, n_estimators=100;, score=0.924 total time=   1.7s
[CV 5/5] END criterion=entropy, max_depth=5, n_estimators=100;, score=0.913 total time=   2.0s
[CV 1/5] END criterion=entropy, max_depth=5, n_estimators=50;, score=0.927 total time=   0.8s
[CV 2/5] END criterion=entropy, max_depth=5, n_estimators=50;, score=0.911 total time=   0.8s
[CV 3/5] END criterion=entropy, max_depth=5, n_estimators=50;, score=0.848 total time=   0.9s
[CV 4/5] END criterion=entropy, max_depth=5, n_estimators=50;, score=0.918 total time=   0.8s
[CV 5/5] END criterion=entropy, max_depth=5, n_estimators=50;, score=0.885 total time=   0.8s
[CV 1/5] END criterion=gini, max_depth=5, n_estimators=100;, score=0.897 total time=   1.0s
[CV 2/5] END criterion=gini, max_depth=5, n_estimators=100;, score=0.899 total time=   1.1s
[CV 3/5] END criterion=gini, max_depth=5, n_estimators=100;, score=0.896 total time=   1.1s
[CV 4/5] END criterion=gini, max_depth=5, n_estimators=100;, score=0.896 total time=   1.1s
[CV 5/5] END criterion=gini, max_depth=5, n_estimators=100;, score=0.898 total time=   1.0s
[CV 1/5] END criterion=gini, max_depth=3, n_estimators=50;, score=0.827 total time=   0.4s
[CV 2/5] END criterion=gini, max_depth=3, n_estimators=50;, score=0.778 total time=   0.4s
[CV 3/5] END criterion=gini, max_depth=3, n_estimators=50;, score=0.808 total time=   0.4s
[CV 4/5] END criterion=gini, max_depth=3, n_estimators=50;, score=0.707 total time=   0.4s
[CV 5/5] END criterion=gini, max_depth=3, n_estimators=50;, score=0.826 total time=   0.4s
[CV 1/5] END criterion=gini, max_depth=10, n_estimators=100;, score=0.995 total time=   1.4s
[CV 2/5] END criterion=gini, max_depth=10, n_estimators=100;, score=0.998 total time=   1.4s
[CV 3/5] END criterion=gini, max_depth=10, n_estimators=100;, score=0.997 total time=   1.4s
[CV 4/5] END criterion=gini, max_depth=10, n_estimators=100;, score=0.996 total time=   1.3s
[CV 5/5] END criterion=gini, max_depth=10, n_estimators=100;, score=0.998 total time=   1.4s
[CV 1/5] END criterion=gini, max_depth=5, n_estimators=50;, score=0.897 total time=   0.5s
[CV 2/5] END criterion=gini, max_depth=5, n_estimators=50;, score=0.899 total time=   0.5s
[CV 3/5] END criterion=gini, max_depth=5, n_estimators=50;, score=0.896 total time=   0.5s
[CV 4/5] END criterion=gini, max_depth=5, n_estimators=50;, score=0.896 total time=   0.5s
[CV 5/5] END criterion=gini, max_depth=5, n_estimators=50;, score=0.898 total time=   0.5s
[CV 1/5] END criterion=gini, max_depth=3, n_estimators=200;, score=0.818 total time=   1.7s
[CV 2/5] END criterion=gini, max_depth=3, n_estimators=200;, score=0.739 total time=   1.7s
[CV 3/5] END criterion=gini, max_depth=3, n_estimators=200;, score=0.817 total time=   1.8s
[CV 4/5] END criterion=gini, max_depth=3, n_estimators=200;, score=0.770 total time=   1.8s
[CV 5/5] END criterion=gini, max_depth=3, n_estimators=200;, score=0.777 total time=   1.9s

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(oob_score=True),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [3, 5, 10],
                                        'n_estimators': [50, 100, 200]},
                   scoring='accuracy', verbose=3)

In [114]:
cv.best_params_

{'n_estimators': 200, 'max_depth': 10, 'criterion': 'entropy'}

In [115]:
bestmodel=RandomForestClassifier(n_estimators=200,max_depth=10,criterion='entropy',oob_score=True)

In [116]:
bestmodel.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=200,
                       oob_score=True)

In [117]:
y_pred=bestmodel.predict(X_test)

In [118]:
best_accuracy=round(accuracy_score(y_test,y_pred)*100,2)

In [120]:
best_accuracy

99.96